
.goodMy{
    height:100%;
    display:flex;
    flex-direction: column;
    background: #f2f2f2;
}
    section{
        width: 100%; 
        display:flex;
        flex-direction: column;
        overflow-x:auto;
        overflow: hidden;
        overflow-y:auto;
        flex: 1;
        
    }
        header{
                width:100%; 
                height:60px;
                background:#fff;
                display: flex;
                justify-content:space-around;
                border-bottom:1px solid #ccc;
        }
            .left{
                    flex: 1;
                    height:60px;
                    line-height:60px;
                                
                .iconfont{
                    font-size:20px;
                    margin-left:0.1rem;
                }   
            }       
             
    
            .middle{
                flex: 1;
                height:60px;
                text-align:center;
                line-height:60px;
            }
            .right{
                flex: 1;
                height:60px;
                line-height:60px;
                display: flex;
                justify-content: space-around;
                position: relative;
                
                .iconfont:nth-child(1){
                    font-size:28px;              
                }
                
                .iconfont:nth-child(2){
                    font-size:20px;
                   
                }
                .mesgList{
                    position:absolute;
                    width:150px;
                    height:100px;
                    background:#f0f;
                    z-index: 999;
                    top:70px;
                    right:10px;
                    background:#fff;
                    
                    
                    div{
                        height:50px;
                        width:130px;
                        padding-left:20px;
                        .iconfont{
                            font-size:14px;
                        }
                        span{
                            font-size:14px; 
                            margin-left:20px;
                        }
                        a{
                            display:block;
                            width:100%;
                            height:100%;
                            
                            .iconfont{
                            font-size:14px;
                            color:#000;
                        }
                            span{
                                font-size:14px; 
                                margin-left:20px;
                                color:#000;
                            }
                        }
                    }                    
                }
                .mesgLists{
                    display:none;
                }
            }
        
        .my-img{
            width:100%;
            
            img{
                width:100%;
            }
        }
        
        .my-ul{
            width:100%;
            height:50px;
            border-bottom:1px solid #ccc;
            background:#fff;
            margin-bottom:10px;
            
            li{
                float:left;
                height:50px;
                width:50%;
                line-height:50px;
                text-align:center;
                
                span{
                    font-size:14px;
                }
                
            }
            li:nth-child(1){
                border-bottom:2px solid #f00;
                
                .divp{
                    width:100%;
                    height:20px;
                    margin-top:15px;
                    line-height:20px;
                    text-align:center;
                    border-right:1px solid #ccc;
                    box-sizing: border-box;
                    
                    span{
                       color:red; 
                    }
                }
            }
        }
        
        .my-ol{
            width:100%;
            background: #fff;
            border-top:1px solid #ccc;
            border-bottom:1px solid #ccc;
            
            li{
                width:100%;
                height:50px;
                overflow: hidden;
                
                .my-load{
                    width:100%;
                    height:50px;
                    margin-left:20px;
                    line-height:50px;
                    box-sizing: border-box;
                    border-bottom:1px solid #ccc;
                    
                    img{
                        margin-right:5px;
                        vertical-align: middle;
                    }
                    input{
                        width:273px;
                        height:46px;
                        border:none;
                        margin:0;
                        outline:none;
                        font-size:14px;
                    }
                }
                #my-load-yzm{
                    border-bottom:none;
                    input{
                        width:170px;
                    }
                    #imgyzm{
                        width:100px;
                        height:53px;
                        margin:0;
                    }
                }
            }           
        }
        
        .xxdiv{
            width:100%;
            
            span{
                margin-left:20px;
                margin-top:10px;
                font-size:14px;
            }
        }
    //注册页面
    .registSection{
        width: 100%;            
        display:none;
        
        .reg{
            width:100%;
            height:50px;
            background:#fff;
            display:flex;
            
            .regLeft{
                width:25%;
                height:50px;
                line-height:50px;
                text-align:center;
                
                span{
                    font-size:14px;
                    
                }
            }
            .regRight{
                width:75%;
                height:49px;
                border-bottom:1px solid #ccc;
                
                input{
                    width:100%;
                    font-size:14px;
                    height:49px;
                    border:none;
                    outline:none;
                }
            }
        }
    }
    
    
    
    //底部 
    footer{
        width: 100%;
        height:60px;
        background:#fff;
        display:flex;
        justify-content: space-around;
        
        ul{
            width:100%;
            height:100%;
            position: relative;
            li{
                width:100%;
                height:60px;
                float:left;
                line-height:60px;
                text-align:center;
                position: absolute;
                top:0;
                left:0;     
            }
            li:nth-child(1){
                background:#ccc;
                color:#808080;
            }
            li:nth-child(2){
                background:#ccc;
                color:#808080;
                display:none;
            }
        }
    }
